## Environment variables for docker-compose command

## Windows settings
# COMPOSE_PATH_SEPARATOR=:

## Built image name
PHP_IMAGE_NAME=local/yiisoftware/yii2-php
PHP_IMAGE_VERSION_SUFFIX=

## Apache
COMPOSE_PROJECT_NAME=yii2apache
COMPOSE_FILE=docker-compose.yml:docker-compose.apache.yml
DOCKERFILE_FLAVOUR=debian
PHP_BASE_IMAGE_VERSION=7.4-apache
X_LEGACY_GD_LIB=0

## PHP-fpm & nginx
#COMPOSE_PROJECT_NAME=yii2fpm
#COMPOSE_FILE=docker-compose.yml:docker-compose.fpm-nginx.yml
#DOCKERFILE_FLAVOUR=debian
#PHP_BASE_IMAGE_VERSION=7.3-fpm
#X_LEGACY_GD_LIB=1

## Runtime settings
# Xdebug (calling the xdebug.remote_host on 9005 port)
PHP_ENABLE_XDEBUG=0

## static ip addresses
NETWORK_SUBNET=172.20.0.0/16
NETWORK_APP=172.20.0.2
NETWORK_PG=172.20.0.3
PG_DB=yii2basic
PG_PWD=fuck123
NETWORK_ADMINER=172.20.0.4
